*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  width: 100%;
  height: 100%;
}

/* fonts */

@font-face {
  font-family: 'fone';
  src: url('./public/-F63fjptAgt5VM-kVkqdyU8n1i8q1w.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ftwo';
  src: url('./public/-F6qfjptAgt5VM-kVkqdyU8n3oQIwlBFgg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fthree';
  src: url('./public/-F6qfjptAgt5VM-kVkqdyU8n3twJwlBFgg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ffour';
  src: url('./public/-F6qfjptAgt5VM-kVkqdyU8n3uALwlBFgg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ffive';
  src: url('./public/-F6qfjptAgt5VM-kVkqdyU8n3vAOwlBFgg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Reg';
  src: url('./fonts/658c6bc1304ca1524055878d_LoRes12OT-Regular.woff') format('woff2');
  /* font-weight: normal; */
  /* font-style: normal; */
}

@font-face {
  font-family: 'NarReg';
  src: url('./fonts/658c6bc28653bfa16d2862f2_LoRes12OTNarrow-Regular.woff') format('woff2');
  /* font-weight: normal; */
  /* font-style: normal; */
}

/* button css */
/* From Uiverse.io by Creatlydev */ 
.button {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--clr);
  color: #fff;
  border-radius: 10rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
}

.button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: var(--clr);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.button:hover {
  background-color: #1a1a1a;
}

.button:hover .button__icon-wrapper {
  color: #1a1a1a;
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}

/* button1 */

/* From Uiverse.io by Creatlydev */ 
.button1 {
  cursor: pointer;
  border: none;
  background: #1c0e10;
  color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  bottom: 30px;
  right: 20px;
  display: grid;
  place-content: center;
  transition:
    background 300ms,
    transform 200ms;
  font-weight: 600;
}

.button__text {
  position: absolute;
  inset: 0;
  animation: text-rotation 8s linear infinite;

  > span {
    position: absolute;
    transform: rotate(calc(19deg * var(--index)));
    inset: 5px;
  }
}

.button__circle {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background: #fff;
  color: #1c0e10;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__icon--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button1:hover {
  background: #000;
  transform: scale(1.05);
}

.button1:hover .button__icon {
  color: #000;
}

.button1:hover .button__icon:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.button1:hover .button__icon--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}

@keyframes text-rotation {
  to {
    rotate: 360deg;
  }
}
